.container-navigation {
    display: flex;
    align-items: center;
  }
  
  nav ol {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    color: #333;
  }

  
  .breadcrumb:last-child:after {
    content: "";
  }
  
  
  .primary {
    font-weight: bold;
  }
  
  .secondary {
    background-color: #333;
    color: #fff;
  }
  


  .breadcrumb-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .breadcrumb-container nav {
    width: 100%;
    /* Additional styles if needed */
  }
  
  .breadcrumb-container nav ol {
    list-style: none;
    display: flex;
    padding: 10; /* Remove default padding */
    margin: 0; /* Remove default margin */
    /* Other styles as needed */
  }

  .breadcrumb {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    /* Other styles as needed */
  }
  
  .breadcrumb.primary {
    font-weight: bold;
    /* Other styles as needed */
  }
  
  .breadcrumb.secondary {
    /* Styles for secondary breadcrumb */
  }
  
  